@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h2>@Model.Name</h2>
<h2>@Model.Sallary</h2>

<h3 style="color: @ViewBag.color;">@ViewData["Msg"]</h3>
@* <h3>@(int.Parse(ViewData["Temp"].ToString())-10)</h3> *@

<h3>@(ViewBag.Temp-10)</h3>
<select class="form form-control">
  @*     @foreach(var item in (List<string>) ViewData["branches"])
      {
          <option>@item</option>
      } *@
      @foreach(var item in ViewBag.branches)
      {
          <option>@item</option>
      }

</select>