@model Employee
@{
    
}

<h1>Details</h1>
<a href="/Employee"> Back to list</a>

<a href="/Employee/Edit/@Model.Id"> Edit</a>

<partial name="_EmpCard" />

@* <partial name="_EmpCard" model="model.Employee" />
 *@

<h3 style="color: @ViewBag.color;">@ViewData["Msg"]</h3>
 <h3>@(int.Parse(ViewData["Temp"].ToString())-10)</h3> 

<h3>@(ViewBag.Temp-10)</h3>
<select class="form form-control">
       @foreach(var item in (List<string>) ViewData["branches"])
      {
          <option>@item</option>
      }
       @foreach(var item in ViewBag.branches)
      {
          <option>@item</option>
      }

</select>
